# By default, this indexes all the files in the mailman archives and saves the index
# file to the current directory

IndexName "Tracmailman Index"
IndexDescription "This is an index for mailman archives"
IndexAdmin "admin, admin@lbl.gov"

# Root of our Mailman archives - everything under here will be indexed
IndexDir /home/mailman/archives/public /home/mailman/archives/private

# We want to index .html files only
IndexOnly .html

# Print debug info
IndexReport 0

# Store description in search results
IndexContents HTML .html
StoreDescription HTML <PRE> 500

# Don't index summary pages: author.html, date.html etc.
FileRules filename is (author\.html|date\.html|index\.html|subject\.html|thread\.html)

# Don't index attachments
FileRules dirname contains attachment

# Look at the title, too
MetaNames swishtitle swishdocpath swishlastmodified name email sent
UndefinedMetaTags auto
PropertyNames name email
PropertyNamesDate sent

FollowSymLinks yes

