# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      ${title} ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
    ${ super() }
    # endblock head
  </head>
  <body>
    # block content
    <div id="content" class="tracmailman">
      <h1>Mailing List Search</h1>

      # if authenticated:
      <form action="search" method="get" id="update">
        <p>
          <label for="query">Query: <input type="text" name="query" id="query" value="${query}"/></label>
          <label for="search_list">List Name:
            <select name="search_list" id="search_list">
              <option value="all" ${{'selected': search_list == 'all'}|htmlattr}>All lists</option>
              # for list in mail_archives:
              <option value="${list}" ${{'selected': search_list == list}|htmlattr}>${list}</option>
              # endfor
            </select>
          </label>
          <input type="submit" value="Search" />
        </p>
        <p class="help">Documentation on all search capabilities can be found <a href="https://www.esa.org/tiee/search/html/swish-search.html#searching_syntax_and_operations">here</a>.</p>
      </form>

      # if numHits == 0:
      <h2>No results were found.</h2>
      # endif

      # if results:
      <h2>Results: ${numHits} found. Displaying results ${firstHit+1} to ${lastHit}.</h2>
      <h3>More recent results are displayed first.</h3>
      <p>Result Navigation:
      # for i in range(0, maxPage):
      # if i == currentPage:
      ${i+1}
      # else:
      <a href="search?query=${query}&amp;search_list=${search_list}&amp;page=${i+1}">${i+1}</a>
      # endif
      # endfor
      </p>
      <hr/>
      # for hit in results:
      <p>${hit.number}. <a href="${hit.path}">${hit.title}</a><br/>${hit.description} &hellip;</p>
      # endfor
      # endif

      # endif

      ${ super() }
    </div>
    # endblock content
  </body>
</html>
