# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      ${title} ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
    ${ super() }
    # endblock head
  </head>
  <body>
    # block content
    <div id="content" class="tracmailman">
      <h1>Mailing List Search</h1>

      # if authenticated:
      <form action="tracmailman/search" method="get" id="update">
        <p>
          <label for="query">Query: <input type="text" name="query" id="query" value="${query}"/></label>
          <label for="search_list">List Name:
            <select name="search_list" id="search_list">
              <option value="all" selected="selected">All lists</option>
              # for list in mail_archives:
              <option value="${list}">${list}</option>
              # endfor
            </select>
          </label>
          <input type="submit" value="Search" />
        </p>
        <p class="help">Documentation on all search capabilities can be found <a href="https://www.esa.org/tiee/search/html/swish-search.html#searching_syntax_and_operations">here</a>.</p>
      </form>

      <h2>Browse Mailing Archives</h2>
      <h3>Choose an archive to browse.</h3>
      <ul>
        # for list in mail_archives:
        # if list in pub_archives:
        <li><a href="tracmailman/browser/public/${list}/index.html">${list}</a></li>
        # endif
        # if list in priv_archives:
        <li><a href="tracmailman/browser/private/${list}/index.html">${list}</a></li>
        # endif
        # endfor
      </ul>
      # endif

      ${ super() }
    </div>
    # endblock content
  </body>
</html>
